<title>Forgot Password</title>

<body>
  <div class="container">
    <div class="image-container">
      <img src="assets/ChatUpLogo.jpg" alt="ChatUp Logo">
      <p class="logo-text" style="font-size: 35px;">ChatUp</p>
      <p class="slogan-text">Share your smile<br>and your adventures<br>in this world</p>
      <p class="slogan-text">Enjoy!</p>
    </div>
    <div class="form-container">
      <div class="form-inner">
        <form action="#" method="post" onsubmit="return false;">
          <h2>PASSWORD RESET</h2>
          <input type="text" name="Name" placeholder="Enter your email" autofocus required class="input"><br>
          <button type="submit" name="SendPassword" class="input">Send password reset email</button><br>
          <p class="register-link">Do you have an account? <a routerLink="goToRegisterPage()" style="color: #0CB1FF">Sign up</a></p>
        </form>
      </div>
    </div>
  </div>
</body>