<title>Register</title>

<body>
  <div class="container">
    <div class="image-container">
      <img src="assets/ChatUpLogo.jpg" alt="ChatUp Logo">
      <p class="logo-text" style="font-size: 35px;">ChatUp</p>
      <p class="slogan-text">Share your smile<br>and your adventures<br>in this world</p>
      <p class="slogan-text">Enjoy!</p>
    </div>
    <div class="form-container">
      <div class="form-inner">
        <form action="#" method="post" onsubmit="return false;">
          <input type="text" name="Name" placeholder="Enter your name" autofocus required class="input"><br>
          <input type="password" name="Password" placeholder="Enter your password" required class="input"><br>
          <input type="password" name="Confirmpassword" placeholder="Confirm password" required class="input"><br>
          <input type="email" name="Emailsignup" placeholder="Enter email ID" required class="input"><br>
          <label><input type="checkbox" name="Terminos" value="Acepto" required> Acepto las condiciones de la suscripción</label><br>
          <button type="submit" name="Signin" class="input">SIGN IN</button><br>
          <p class="register-link">Do you have an account? <a routerLink="goToLoginPage()" style="color: #0CB1FF">Sign up</a></p>
        </form>
      </div>
    </div>
  </div>
</body>