<title>Login</title>
  
<body>
  <div class="container">
    <div class="image-container">
      <img src="assets/ChatUpLogo.jpg" alt="ChatUp Logo">
      <p class="logo-text" style="font-size: 35px;">ChatUp</p>
      <p class="slogan-text">Share your smile<br>and your adventures<br>in this world</p>
      <p class="slogan-text">Enjoy!</p>
    </div>
    <div class="form-container">
      <div class="form-inner">
        <form action="#" method="post" onsubmit="return false;">
          <input type="text" name="Email" placeholder="Enter your email" autofocus required class="input"><br>
          <input type="password" name="Password" placeholder="*****" required class="input"><br>
          <!--<label><input type="checkbox" name="Terminos" value="Acepto" required> Acepto las condiciones de la suscripción</label><br>-->
          <button type="submit" class="input">Log in</button><br>
          <p class="forgot-password-link"> Have you forgotten your <a routerLink="/forgot-password" style="color: #0CB1FF">password? </a></p>
          <p class="register-link">Don´t have an account? <a routerLink="/register" style="color: #0CB1FF">Sign up</a></p>
        </form>
      </div>
    </div>
  </div>
</body>