<title>Login</title>
  
<body>
  <div class="container">
    <div class="image-container">
      <img src="assets/ChatUpLogo.jpg" alt="ChatUp Logo">
      <p class="logo-text" style="font-size: 35px;">ChatUp</p>
      <p class="slogan-text">Share your smile<br>and your adventures<br>in this world</p>
      <p class="slogan-text">Enjoy!</p>
    </div>
    <div class="form-container">
      <div class="form-inner">
        <form (ngSubmit)="login()">
          <input [(ngModel)]="this.email" type="text" name="Email" placeholder="Enter your email" autofocus required class="input"><br>
          <input [(ngModel)]="this.password" type="password" name="Password" placeholder="*****" required class="input"><br>
          <button type="submit" class="input">Log in</button><br>
          <p class="forgot-password-link"> Have you forgotten your <a (click)="goToForgotPasswordPage()" style="color: #0CB1FF">password?</a></p>
          <p class="register-link">Don´t have an account? <a (click)="goToRegisterPage()" style="color: #0CB1FF">Sign up</a></p>
        </form>
      </div>
    </div>
  </div>
</body>
